<form [formRoot]="modelForm" class="flex flex-col grow md:grow-0 place-content-evenly gap-8 md:gap-0">
    <div class="relative flex flex-col items-center">
        <label for="inputLink" class="text-xl text-zinc-400 mb-1">Link</label>
        <input id="inputLink" type="text" class="border-b-2 border-zinc-700 w-full outline-none focus:border-red-800 text-center placeholder:text-zinc-700 hover:border-red-800/50 transition-all ease-out duration-200"
        placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [formField]="modelForm.link">
        @if (modelForm.link().touched() && modelForm.link().invalid()) {
            <div v-if="linkError" class="absolute flex items-center gap-1 text-sm text-red-500 -bottom-6">
                <svg lucideCircleAlert class="h-5 w-5"></svg>
                {{ modelForm.link().errors()[0].message }}
            </div>
        }
    </div>
    <div class="flex flex-col items-center">
        <h3 class="text-xl text-zinc-400 mb-1">Audio format</h3>
        <div class="grid grid-cols-2 md:grid-cols-4 w-full">
            @for (format of formats; track format) {
                <label [for]="'format_' + format" class="md:w-40 py-3 text-center has-checked:bg-red-800/70 hover:bg-red-800/30 cursor-pointer has-checked:cursor-default transition-all ease-out duration-100">
                    {{ format.toUpperCase() }}
                    <input type="radio" [id]="'format_' + format" [value]="format" class="hidden" [formField]="modelForm.format">
                </label>
            }
        </div>
    </div>
    <div class="flex flex-col items-center">
        <h3 class="text-xl text-zinc-400 mb-1">Quality</h3>
        <div class="grid grid-cols-2 md:grid-cols-4 w-full">
            @for (quality of qualities; track quality) {
                <label [for]="'quality_' + quality" class="md:w-40 py-3 text-center has-checked:bg-red-800/70 hover:bg-red-800/30 cursor-pointer has-checked:cursor-default transition-all ease-out duration-100">
                    {{ quality.toUpperCase() }}
                    <input type="radio" [id]="'quality_' + quality" [value]="quality" class="hidden" [formField]="modelForm.quality">
                </label>
            }
        </div>
    </div>
    <button type="submit" class="flex justify-center items-center gap-2 bg-red-800/70 rounded-full text-2xl py-2 hover:bg-red-800/50 active:bg-red-950/70 disabled:bg-red-950/70
    cursor-pointer disabled:cursor-default transition-all ease-out duration-100" [disabled]="modelForm().submitting()">
        @if (modelForm().submitting()) {
            <svg lucideLoaderCircle class="w-6 h-6 animate-spin"></svg>
        }
        Convert & Download
    </button>
</form>
