<div class="min-h-svh flex flex-col justify-center items-center">
    <div class="md:relative w-full md:w-3xl grow md:grow-0 md:h-144 md:pt-10 md:mt-9.5 bg-red-950/30 md:rounded-3xl md:border-2 md:border-red-800 flex flex-col md:flex-row justify-center">
        <a (click)="reset()" routerLink="/" class="sticky top-0 md:absolute z-10 h-15 md:h-20 w-full md:w-xl md:-top-10 bg-zinc-900 md:rounded-full border-b-2 md:border-2 border-red-800 flex justify-center items-center text-3xl text-shadow-lg/80">
            Web 2 MP3 - v2
        </a>
        <!-- <div class="flex flex-col place-content-center gap-2">
            <div class="flex justify-center">
                <div>
                    GREAT counter :
                    <span class="text-orange-500 font-bold text-xl">{{ count() }}</span>
                </div>
            </div>
            <div class="flex justify-center gap-3">
                <button class="border border-gray-500 rounded px-2 py-1 hover:bg-red-900 active:bg-red-800" (click)="increment()">+1</button>
                <button class="border border-gray-500 rounded px-2 py-1 hover:bg-red-900 active:bg-red-800" (click)="reset()">Reset</button>
            </div>
            <div class="flex justify-center">
                <button class="border border-gray-500 rounded px-2 py-1 hover:bg-red-900 active:bg-red-800" (click)="checkApiConnection()">Check connection with API</button>
            </div>
        </div> -->
        @if (currentPage() === pageTitleEnum.Landing) {
            <!-- <app-form class="flex grow flex-col md:flex-row justify-center p-5 md:p-0" [(requestModel)]="requestFormModel" /> -->
            <!-- <app-form class="flex grow flex-col md:flex-row justify-center p-5 md:p-0" (requestAccepted)="onRequestAccepted($event)" /> -->
            <app-form class="flex grow flex-col md:flex-row justify-center p-5 md:p-0" [(download)]="download" />
        }
        @else if (currentPage() === pageTitleEnum.Processing) {
            <app-processing class="flex grow flex-col md:flex-row justify-center p-5 md:p-0" [(download)]="download" />
        }
        @else if (currentPage() === pageTitleEnum.Result) {
            <app-result class="flex grow flex-col md:flex-row justify-center p-5 md:p-0" [(download)]="download" (reset)="reset()" />
        }
    </div>
</div>
